* {
  margin: 0;
  color: gray;
  text-align: center;  
}
nav {
  width: 250px;
  margin: 0 auto;
  font-size: 12px;
}
nav li {
  list-style-type: decimal;
}
h2 {
  margin: 10px 0;
  font-size: 30px;
  color: cadetblue;
}