!!!
%html
 %head
  %meta{:lang => "ja"}
  %meta{:charset => "utf-8"}
  %meta{:description => ""}
  %meta{:keyword => ""}
  %title なにができるかな
  %link{:rel => "stylesheet", :type => "text/css", :href => "css/material.min.css"}
 %body
  %div.demo-card-wide.mdl-card.mdl-shadow--2dp
   %div.mdl-card__title
    %h2.mdl-card__title-text タイトル
   %div.mdl-card__supporting-text アイウエオアイウエオアイウエオアイウエオアイウエオ
   %div.mdl-card__actions.mdl-card--border
    %a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect リンクボタン
