nav
  ul
    li
      a(href=pages.content_a.url) aのリンク
    li
      a(href=pages.content_b.url) bのリンク
    li
      a(href=pages.content_c.url) cのリンク
    if content_d_state == "public"
      li
        a(href=page.content_d.url) 公開後のリンク
    else if content_d_state == "comingsoon"
      li Coming Soon