meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title pugの練習

meta(content=page.description, name="pugの書き方練習")
meta(content=page.keywords, name="pug, 練習")

link(rel="stylesheet", href=css_path+"/style.css")