@charset 'utf-8';
@import 'common';

body {
    color: rgb(97, 211, 219);
    font-size: 30px;
    p {
        &::after {
            content: '♪';
            display: inline-block;
        }
    }
}