//-　コントローラー的な
- var css_path = '../css'
- var js_path = '../js'
- var image_path = '../img'
- var content_d_state = 'comingsoon'
-
  var pages = {
    top: {
      url: 'index.html',
      name: 'トップページ',
      title: 'タイトル：トップページ',
      description: 'トップページです',
      keywords: 'トップページ',
      image: ''
    },
    content_a: {
      url: 'content_a.html',
      name: 'コンテントA',
      title: 'コンテントA',
      description: 'コンテントAです',
      keywords: 'コンテントA',
      image: ''
    },
    content_b: {
      url: 'content_b.html',
      name: 'コンテントB',
      title: 'コンテントB',
      description: 'コンテントBです',
      keywords: 'コンテントB',
      image: ''
    },
    content_c: {
      url: 'content_c.html',
      name: 'コンテントC',
      title: 'コンテントC',
      description: 'コンテントCです',
      keywords: 'コンテントC',
      image: ''
    },
    content_d: {
      url: 'content_d.html',
      name: 'コンテントD',
      title: 'コンテントD',
      description: 'コンテントDです',
      keywords: 'コンテントD',
      image: ''  
    }
  }