//- レイアウトファイルを継承
extends _layout.pug

block vars
  include _config.pug
  - var key = 'top'
  - var page = pages[key]

block contents
  h2 #{page.title}
  .keyvisual_container
    p.keyvisual_image
      img(src=image_path+"pug.jpg", alt="", width="120")