//- モデル的な
doctype html
block vars
html(lang="ja")
  head
    include pug/include/top/_inc_head.pug

  body(class=key)
    .l_contents
      include pug/include/top/_inc_header.pug
      include pug/include/top/_inc_nav.pug
      //-
        ブロックにvarsやcontentsという名前をつけといて
        あとで読み込むことができる。
      block contents
    include pug/include/top/_inc_footer.pug