* {
    margin: 0;
    padding: 0;
}
.viewArea {
    width: 500px;
    height: 280px;
    overflow: hidden;
}
.imgList {
    width: 10000px;
}
.imgList li {
    list-style-type: none;
    float: left;
}
.prev,.next {
    width: 20px;
    height: 20px;
    cursor: pointer;
}